# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx build output
build/
_build/
docs/_build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Virtual environments
.venv/
venv/
